<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="gcatech.net.documentcapturepicture">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application>
        <activity android:name=".activities.ScannerActivity"   android:screenOrientation="landscape" />
    </application>


</manifest>
